body{
    font-family: "Helvetica", "Lucida Grande", sans-serif;
    color: #3D3D3D;
}

h1{
    background-color: #E1EDF2;
}

h2{
    border-bottom: solid 2px black;
}

figure{
    text-align: center;
    background-color: whitesmoke;
    border: solid 1px lightgrey;
}